.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .forms {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    border: 1px solid black;
    width: 65vw;
    height: 585px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: white;
    justify-content: space-between;
  }

  .titulo {
    color: #2f95f2;
  }

  .container_forms{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    /* padding: 50px; */
  }
  
  .input {
    width: 80%;
    margin-top: 15px;
    height: 52px;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 10px;
    outline: none;
  }
  
  .botao {
    width: 83%;
    height: 52px;
    margin-top: 50px;
    background: #4ba1df;
    border: 2px solid #4ba1df;
    border-radius: 10px;
    font-size: 16px;
    color: #ffff;
    text-transform: uppercase;
  }

  .divDog {
  width: 50%;
  height: 580px;
  display: flex;
  justify-content: flex-end;
  background-image: url("../../../public/assets/dogCadastrar.png");
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  }
  .link-login {
    width: 80%;
    text-align: center;
    margin-top: 15px;
    color: #000;
  }


@media (max-width: 1080px) {
  .divDog{
    display: none;
  }

  .container{
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .forms{
    width: 85vw;
    display: flex;
    align-items: center;
  }
  .container{
    position: unset;
  }
  
  .container_forms{
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }

  .container_forms input {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}



@media (max-width: 700px) {
  .container {
    height: 200vh;
  }
}