.container-procedimentos-efetuados {
    width: 1100px;
    min-height: 450px;
    background-color: #fff;
    border-radius: 20px;
    margin: 50px;
}
.container-procedimentos-efetuados h2 {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.container-cards {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    min-height: 360px;
    margin: auto;
    flex-wrap: wrap;
}
.card {
    width: 300px;
    height: 130px;
    padding-left: 10px;
    background-color: #6cc1fa;
    border-radius: 20px;
    margin: 20px;
}


@media (max-width: 700px) {
    .container-procedimentos-efetuados {
        min-height: 900px;
        margin-top: 600px;
    } 
}

@media (max-width: 800px) {
    .container-procedimentos-efetuados {
        min-height: 900px;
        margin-top: 660px;
    } 
}