.CadastrarHorario{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.horarios_disponivel{
    padding: 10px;
    max-width: 750px;
    width: 100%;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.horarios{
    width: auto;
    text-align: center;
    height: 40px;
    background: #44EBA0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}

.container-cadastrar {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container-cadastrar > h2 {
  margin: 0;

}

.form-cadastrar{
    padding: 20px 0;
    max-width: 800px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.inputVisualizarAgendar{
    background-color: #6CC1FA;
    width: 120px;
    border-radius: 20px;
    border: #6CC1FA;
    padding: 5px;
    padding-left: 25px;
    outline: none;
    text-align: center;
    font-size: 16px;
}

.botaoAgendar{
    border: none;
    width: 150px;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #44EBA0;
    cursor: pointer;
    font-size: 16px;
}

.voltar-horario {
  width: 150px;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 5px 0;
  background-color: #fa816c;
  border-radius: 20px;
}

@media (max-width: 980px) {
  .CadastrarHorario {
    margin-top: 98px;
  }
}