.container-edit {
    width: 360px;
    height: 550px;
    background-color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.container-edit div {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-edit div input {
    width: 300px;
    height: 50px;
    background: rgba(108, 193, 250, 0.5);
    border-radius: 20px;
    margin-top: 20px;
    outline: none;
    border: none;
    font-size: 16px;
    padding-left: 20px;
}
.button-edit {
    background: #44EBA0;
    border-radius: 20px;
    width: 320px;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
.container-edit h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}


