.container-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-edit {
  margin: 20px;
  max-width: 400px;
  width: 100%;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0px 4px 4px #00000080;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logout{
  width: 100px;
  cursor: pointer;
}
.container-edit div {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.input {
  width: 95%;
  height: 50px;
  background: rgba(108, 193, 250, 0.5);
  border-radius: 20px;
  margin-top: 20px;
  outline: none;
  border: none;
  font-size: 16px;
  padding-left: 20px;
}

.button-edit {
  background: #44EBA0;
  border-radius: 20px;
  width: 95%;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;
}
.container-edit h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 980px) {
  .container-home {
    height: 100%;
    margin-top: 100px;
  }
}