.containerAgendar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* width: 100; */
  margin-top: 95px;
  gap: 40px;
}
.CardAgendamento1 {
  flex-direction: row;
  padding: 20px 10px;
  width: 100%;
  max-width: 300px;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.card{
  margin: 10px;
  flex-direction: column;
  /* padding: 20px 10px; */
  width: 100%;
  max-width: 300px;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.containerAgendar > h1 {
  margin: 0;
}
.criarAgendamento{
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #44eba0;
  color: white;
  text-decoration: none;
}
.finalizar {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #44eba0;
  color: white;
  text-decoration: none;
}

.link {
  border-radius: 10px;
  padding: 5px 0;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 100%;
}

.voltar {
  background-color: #fa816c;
}

.criar {
  background-color: #6cc1fa;
}

/* .agendamentos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 20px;
  align-items: center;
  width: 100%;
} */
.back{
  background-color: #fa816c;
  width: 50%;
  height: 35px;
  padding: 5px 0;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold; 
  cursor: pointer; 
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 10px;
  margin-bottom: 30px;
}

@media (max-width: 980px) {
  .containerAgendar {
    margin-top: 100px;
  }
}
