.Pet {
  width: 260px;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.texto_card {
  padding-top: 2px;
  font-size: 16px;
  color: black;
  width: 100%;
}

.texto_card p > span {
  font-weight: bold;
}

.botao_MeusPets {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: white;
}


#editar_MeusPets{
  background-color: #44EBA0;
  border: none;
  border-radius: 10px;
  width: 70px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

#apagar_MeusPets{
  background-color: #FF5E5E;
  border: none;
  border-radius: 10px;
  width: 70px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
