.container-listar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.container-listar > h1 {
  margin: 0;
}

.ListarPets{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.voltar-pets {
  width: 150px;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 5px 0;
  background-color: #fa816c;
  border-radius: 20px;
}

@media (max-width: 1280px) {
  .container-listar {
    margin-top: 110px;
  }
}