.input-cadastro {
  width: 90%;
  height: 50px;
  background: rgba(108, 193, 250, 0.5);
  border: 1px solid #000;
  border-radius: 20px;
  /* margin-bottom: 20px; */
  outline: none;
  font-size: 16px;
  border: none;
  padding-left: 20px;
}
.button-cadastro {
  background: rgba(101, 101, 101, 0.5);
  border: 1px solid rgba(101, 101, 101, 0.5);
  border-radius: 20px;
  width: 340px;
  height: 50px;
  font-weight: bold;
  border: none;
  background: #44EBA0;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
}