.Usuario {
  width: 260px;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.texto-dados {
  padding-top: 2px;
  font-size: 16px;
  color: black;
  width: 100%;
}

.texto-dados p > span {
  font-weight: bold;
}